@page "/"
@using CloudServer.Logic

<PageTitle>Zadrga</PageTitle>

<h1>Zadrga Server!</h1>

@*TODO: This methods is not working on server and is throwing an error, fix this*@
@* @FileUploader.DiskSize(); *@